NEXT_PUBLIC_CHAIN_ID=296
NEXT_PUBLIC_RPC_URL=https://testnet.hashio.io/api
NEXT_PUBLIC_IDENTITY_REGISTRY_ADDRESS=0x9779F38669f0b1676CB89a44e4066e3D3485B783
NEXT_PUBLIC_INTENT_REGISTRY_ADDRESS=0x8404A864268f374f3E0b947020186Dc45227B34F
NEXT_PUBLIC_REPUTATION_REGISTRY_ADDRESS=0x6729a322380F692F88DC3DbE24fa179609B72837
NEXT_PUBLIC_VALIDATION_REGISTRY_ADDRESS=0xE9b79435a40fE3564cfC46A7Ca44962cD58e7Aa0
NEXT_PUBLIC_SUPABASE_URL=PLACEHOLDER_URL
NEXT_PUBLIC_SUPABASE_ANON_KEY=PLACEHOLDER_KEY
